/* Right menu */
div#rightmenu
{

}

div#rightmenu ul
{
	margin : 0;
	padding : 5px 0 0px 30px;
	font-size : 12px;
}

div#rightmenu ul li ul
{
	margin : 0;
	padding : 5px 0 10px 30px;
	font-size : 11px;
}

div#rightmenu ul li ul li
{
	margin : 2px 0 0 0;
	padding : 0;
}

div#rightmenu ul li ul li a
{
	font-weight : normal;
	margin : 0;
	padding : 0;
}

div#rightmenu ul li
{
	margin : 2px 0 0 0;
	padding : 0;
}

div#rightmenu ul.orange li
{
	list-style-image: url(li_triangle_o.gif);
}

div#rightmenu ul.blue li
{
	list-style-image: url(li_triangle_o.gif);
}


div#rightmenu ul li a
{
	font-weight : bold;
	margin : 0;
	padding : 0;
}

div#rightmenu h2
{
	margin : 0;
}

/* Top menu */

div#topmenu
{

}

div#topmenu ul.topmenu-level0
{
	font-size : 13px;
	margin : 0;
	padding : 0;
	border-top : 4px solid #EEEEEE;
	border-bottom : 4px solid #EEEEEE;
	background-color : #f7941e;
	color : white;
	font-weight : bold;
	height : 20px;
}







div#topmenu ul.topmenu-level0 li
{
	list-style-type : none;
	float : left;
	border-right : 4px solid #EEEEEE;
	background-color : #417cbe;
	padding : 2px 5px;
}

div#topmenu ul.topmenu-level0 li.blue
{
	background-color : #417cbe;
}

div#topmenu ul.topmenu-level0 li.orange
{
	background-color : #f7941e;
}

div#topmenu ul.topmenu-level0 li a
{
	text-decoration: none;
	font-weight: bold;
}


div#topmenu ul.topmenu-level0 li.topmenu_selected_blue
{
	background-color: #417cbe;
	color : #FFFFFF;
	border-bottom : 4px solid #417cbe;

}

div#topmenu ul.topmenu-level0 li.topmenu_selected_orange
{
	background-color: #f7941e;
	color : #FFFFFF;
	border-bottom : 4px solid #f7941e;
}


div#topmenu ul.topmenu-level0 li a.topmenu_selected_blue
{
	color : #FFFFFF;
}

div#topmenu ul.topmenu-level0 li a.topmenu_selected_orange
{
	color : #FFFFFF;
}


div#topmenu ul li a.blue
{
	color : #FFFFFF;
}

div#topmenu ul li a.blue:hover
{
	color : white;
	background-color : #417cbe;
}

div#topmenu ul li a.blue-over
{
	color : white;
	background-color : #417cbe;
}



div#topmenu li a.orange
{
	color : white;
}

div#topmenu li a.orange:hover
{
	color : white;
	background-color : #e7840e;
}

div#topmenu ul li a.orange-over
{
	color : white;
	background-color : #f7941e;
}




/**************************************/
/***           DYN MENU             ***/
/**************************************/

div#topmenu ul.topmenu-level1 {
    display : none;
    position : absolute;
    z-index : 100;
    text-align : left;
    padding : 0;
    margin : 2px 0 0 -10px;
    background-color : #417cbe;
	border : 4px solid #EEEEEE;
}
div#topmenu ul.topmenu-level1 li {
	float : none;
    margin : 0;
    padding : 1px 15px 1px 5px;
    list-style-image : none;
    white-space : nowrap; 	
    position : relative;
	border-right : none;
}
div#topmenu ul.topmenu-level1 li a {
    text-transform : none;  
    text-decoration : none; 
    color : white; 
    border : 0px; 
    font-weight : normal; 
    line-height : 14px; 
    margin : 0;
    padding : 0;
}
div#topmenu ul.topmenu-level1 li.submenuli-blue {
    cursor : none;
}
div#topmenu ul.topmenu-level1 li.submenuli-blue-over {
    background-color : #316cae;
    cursor : pointer;
}
div#topmenu ul.topmenu-level1 li.submenuli-blue a{
    background-color : #417cbe;
}
div#topmenu ul.topmenu-level1 li.submenuli-blue-over a{
    background-color : #316cae;
}

div#topmenu ul.topmenu-level1 li.submenuli-orange {
    background-color : #f7941e;
}
div#topmenu ul.topmenu-level1 li.submenuli-orange-over {
    background-color : #Ec8620;
    cursor : pointer;
}
div#topmenu ul.topmenu-level1 li.submenuli-orange a{
    background-color : #f7941e;
}
div#topmenu ul.topmenu-level1 li.submenuli-orange-over a{
    background-color : #Ec8620;
}




/**************************************/
/***           TOPMENU_N1           ***/
/**************************************/

div#topmenu_n1
{
	padding : 0;
	margin : 0;
}
div#topmenu_n1 ul
{
	margin : 0;
	padding : 2px 0;

	border-top : 0px solid #EEEEEE;
	border-bottom : 4px solid #EEEEEE;

	color : white;
	font-weight : bold;
}

div#topmenu_n1 ul.orange
{
	background-color : #f7941e;
}

div#topmenu_n1 ul.blue
{
	background-color : #417cbe;
}


div#topmenu_n1 ul li
{
	float: left;
	margin: 0;
	padding: 0;
	line-height : 13px;
	list-style-image: none;
	list-style-type: none;
	font-weight: bold;
}

div#topmenu_n1 li a
{
	padding: 0px 5px;
	text-align: center;
	border-right: 1px solid #FFFFFF;
	font-size : 11px;
	line-height : 13px;
	text-decoration: none;
	font-weight: bold;
	color : #FFFFFF;
	white-space:nowrap;
}

div#topmenu_n1 li a#last
{
	border-right: 0px;
}

div#topmenu_n1 li a.selected
{
	background-color: #417cbe;
	color : #FFFFFF;
	border-left: 0px solid #999999;
	font-weight : bold;
	text-decoration: underline;
}

div#topmenu_n1 li a:hover
{
    text-decoration: underline;
}



/* Context nav */

#contextnav
{
	font-size : 10px;
	width : 600px;
	height : 14px;
	background : url(breadcrumb_bg.png) bottom left no-repeat;
	padding-left : 6px;
	float : left;
}

